.button{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 3px;
}

.btn-red{
background-color: red;
}

.btn-green{
    background-color: green;
}

.btn-yellow{
    background-color: yellow;
}

.btn-blue{
    background-color: blue;
}

.btn-pink{
    background-color: pink;
}

.btn-grey{
    background-color: grey;
}